APP_NAME=JTK_Web
APP_ENV=local
APP_KEY=base64:VhyqafJc6r51Gx0ZBL2MgNvALjaJlJW69dIB1PU+dKU=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=6543
DB_DATABASE=postgres                             
DB_USERNAME=postgres.tglodqtoccyvmcmcbzdl
DB_PASSWORD=JmqfQp9GQ1Z8pOce